body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1542744173-05336fcc7ad4?auto=format&fit=crop&q=80&w=1604&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-attachment: fixed;
  color: rgba(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;
  background: linear-gradient(rgb(240, 242, 245, 0.5) 60%, rgb(8, 103, 204, 0.5));
  border-radius: 10px;
}

fieldset {
  border: 0;
  padding: 2rem 0;

}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: rgb(211, 211, 211);
  border: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

input[id="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: gray;
  border-color: black;
  min-width: 300px;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  bottom: -30px;
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
}